{% extends 'base.html' %} 
{% block style %} {% endblock %}
{% block title %} Profile{% endblock %}
{% block content %}
<div>
<h1>Profile Settings</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_username">Username:{{name}}</label>
    <input type="text" name="uname" id="id_username" ><br>
    <label for="id_email">Email:{{ email }}</label>
    <input type="email" name="email" id="id_email" value="">
    <button type="submit">Save</button>
</form>
<div class="my-block">
            <a href="{% url 'user_logout' %}"><button class="button" ><span>LOGOUT</span></button></a>
     </div>
</div>
{% endblock %}