{% extends 'base.html' %} 
{% block style %} {% endblock %}
{% block title %} Profile{% endblock %}
{% block content %}
<div>
<h1>Profile Settings</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_username">Username:{{name}}</label>
    <input type="text" name="uname" id="id_username" ><br>
    <label for="id_email">Email:{{ email }}</label>
    <input type="email" name="email" id="id_email" value="">
    <label for="id_photo">Profile photo:</label>
    <input type="file" name="photo" id="id_photo">
    <button type="submit">Save</button>
</form>
</div>
{% endblock %}