{% extends 'base.html' %} 
{% block style %} 
<link rel="stylesheet" href="../../../static/css/dashboard-pages.css">
{% endblock %}
{% block title %} Report{% endblock %}
{% block content %}
<div class="report">
    <div class="report-upload">
        <div class="report-upload-text">
            <h3>Upload your images</h3>
            <p>Please upload a clear picture of the dump.</p><p>(PNG, JPG images are preferred)</p>

        </div>
        <div class="report-upload-image">
            <img src="../../../static/images/upload-logo.svg" alt="">
            <p>Drag and drop or browse to choose a file</p>
        </div>
    </div>
    <div class="report-location">
        <p>Enter the location of the dump</p>
        <input type="text" name="" id="" placeholder="HMT Nagar, Kalamassery Kochi">
    </div>
    <input class="report-button" type="submit" value="REPORT" name="submit">
</div>
{% endblock %}