* {
  margin: 0;
  padding: 0px 8px;
}
body {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.header-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  /* background-color: aqua; */
}
.body-content {
  /* background-color: brown; */
  width: 100%;
  height: 750px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.navigation-bar{
    background-color: #009743;
    height: 60px;
    width: 90%;
    position: fixed;
    bottom: 3%;
    border-radius: 56px;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
@media screen and (max-width: 350px) {
  .header-nav-bar > div > h1 {
    font-size: 22px;
  }
}
